body {
  background: #0d0d0d;
  background: -webkit-linear-gradient(0deg, rgba(13, 13, 13, 1) 0%, rgba(110, 110, 110, 1) 100%);
  background: -moz-linear-gradient(0deg, rgba(13, 13, 13, 1) 0%, rgba(110, 110, 110, 1) 100%);
  background: linear-gradient(0deg, rgba(13, 13, 13, 1) 0%, rgba(110, 110, 110, 1) 100%);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0D0D0D", endColorstr="#6E6E6E", GradientType=0);
}

a {
  color: white;
  text-decoration: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

hr {
  width: 85%;
}

#purpletext {
  font-size: 45px;
  font-weight: bolder;
}

#desc{
  color: #ddd;
  font-style: italic;
}

p {
  color: #ddd;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #dddddd;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: white;
  font-weight: bolder;
}

.topnav {
  filter: drop-shadow(5px 5px 5px #000);
}